@model MyWeibo.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>*@
</hgroup>

<section id="loginForm">
<h2>使用账户登录</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>登录</legend>
        <ol>
            <li>
                <label>用户名</label>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                <label>密  码</label>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.Label("记住我", new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="登录" />
    </fieldset>
    <p>
        请 @Html.ActionLink("注册", "Register") 如果没有账户
    </p>
}
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    
    @Scripts.Render("~/bundles/jqueryval")
}